body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: antiquewhite;
}

header h1 {
    text-align: center;
    color: blue;
}

.form-container {
    margin-bottom: 20px;
}

.movie-item {
    border: 1px solid grey;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: blueviolet;
}

.movie-item img {
    max-width: 100%;
    height: auto;
}

.movie-item h2 {
    margin: 10px 0;
    background-color: black;
}

.movie-item p {
    margin: 5px 0;
    color: brown;
}

button {
    margin: 5px;
    padding: 5px 10px;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
    background-color: blueviolet;
}

.search-container input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: purple;
}
